.local/
node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
/venv/
.venv/
__pycache__/
*.py[cod]
*.log
*.env
.env
.env.local
.env.*.local
.idea/
*.sublime-project
*.sublime-workspace
*.vscode/
*.swp
*.swo
*.bak
*.tmp
*.joblib
*.pkl
